

.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px #355447;
}

.note
{
    font-size: 15px;
    color: black;
}

.copy_right_footer
{
    text-align: center;
    position: fixed;
    color: rgb(156, 141, 141);
    bottom: 0;
    width: 100%;
    background-color:black;
    line-height: 3;
}

canvas
{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #355447;
    
}